# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# hatch
.hatch/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# pymp3dl runtime data
~/.config/pymp3dl/
